In [1]:
import MySQLdb

In [2]:
# MySQL 연결
db = MySQLdb.connect(
    "54.180.207.18",
    "ecpark",
    "1111",
    "world"
)

db

In [3]:
# 쿼리 작성

QUERY = """
    SHOW TABLES;
"""

In [4]:
# 쿼리 실행
cursor = db.cursor()
cursor.execute(QUERY) # row의 갯수가 등장한다

4

In [5]:
# fetchall() - cursor를 이용해서 실제 데이터를 조회
rows = cursor.fetchall()
rows

(('city',), ('country',), ('countrylanguage',), ('user2',))

In [6]:
# pandas dataframe으로 불러오기
import pandas as pd

In [7]:
# Query를 문자열로 바로 만들지 말고, workbench 같은 프로그램에서
# 충분히 실행과 검증을 한 다음에 제대로 조회가 되면 그 쿼리를 ctrl+c, v 하세요!
QUERY = """
    SELECT *
    FROM country;
"""

In [8]:
df_country = pd.read_sql(QUERY, db) # (사용할 쿼리문, 데이터베이스 객체)
df_country.head()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL

# SQLAlchemy
* python에서 사용하는 대표적인 ORM
* ORM : Object Relational Mapping
    * 데이터 베이스를 객체화시켜서 데이터베이스에 있는 데이터를 CRUD
    * 쿼리 대신 함수 형태(메소드) CRUD를 할 수 있다
    * 사용하는 DBMS를 변경하는 경우 **엔진**만 바꿔주면 된다

In [1]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [7]:
# 데이터 베이스 연결 - 사용할 엔진을 만드는 작업

engine = create_engine("mysql://ecpark:1111@54.180.207.18/test")

# "mysql://계정:비밀번호@public ip/db이름"

In [8]:
engine

Engine(mysql://ecpark:***@54.180.207.18/test)

## 테이블 객체 생성
- 테이블을 맵핑할 클래스를 작성
    - 테이블 이름
    - 컬럼 정의

In [9]:
# Base : 기본적으로 테이블을 다루기 위한 여러 내용들이 들어있다
# 대표적으로 CRUD에 대한 메소드가 들어있다.
Base = declarative_base() # Base 클래스를 얻어내는 함수

# User 클래스는 Base 클래스 상속받아서 쓴다
# 데이터만 담겨있는 클래스(객체) : Value Object(VO)
class User(Base): # 이제 user테이블에는 ~~ 내용들이 있다고 작성
    
    __tablename__ = "user2"   # 테이블 이름
    
    # 테이블에서 사용할 컬럼 정의
    # 컬럼명, 컬럼 데이터 타입이 필요
    user_id = Column(Integer, primary_key = True)
    name = Column(String(20)) # sql의 varchar역할
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    # 생성자에서는 각 컬럼에 데이터를 매핑(대응)
    def __init__(self, name, email, age, rdate):
        
        # self.변수에서 변수는 컬럼명과 반드시 일치
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    # repr 함수
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(self.name, self.email, self.age, self.rdate)

In [10]:
# engine에 연결된 데이터베이스(test)에 테이블 생성
# 위의 정보가 metadata ( age, rdate 등등)

# 기본정보(Base.metadata)를 엔진에다 만들것이다
Base.metadata.create_all(engine)

In [11]:
# 데이터베이스에 session 연결 : connection

Session = sessionmaker(engine) # python - mysql 연결 작업 # 여기서의 Session은 클래스
sess = Session() # Session 객체 생성
sess

# 1. insert
* session 객체에서 add( )나 add_all([ ])을 사용하면 된다
* add는 데이터 1개, add_all은 리스트로 묶어서

In [12]:
user = User("mhso2", "mhso@naver.com", 30, "2021-12-01")
user

In [13]:
user.__tablename__

'user2'

In [14]:
sess.add(user)

In [15]:
sess.commit()

commit - transaction

## transaction
* 실행의 원자성 (쪼개지지 않는다)

In [16]:
# many insert
users = [
    User("mino", "asaas@daum.net", 22, "2021-11-30"),
    User("cofff", "asaassdd@naver.com", 30, "2021-11-11")
]

Session = sessionmaker(engine)
sess = Session()
sess.add_all(users)
sess.commit()

# 2. Select

In [17]:
engine

Engine(mysql://ecpark:***@54.180.207.18/test)

In [19]:
Session = sessionmaker(engine)
sess = Session()

# 전체 조회
# class User(Base) -> table을 의미
result = sess.query(User).all()
list(result)

[<User eunchan, pec05@naver.com, 30, None>,
 <User mhso2, mhso@naver.com, 30, 2021-12-01 00:00:00>,
 <User mino, asaas@daum.net, 22, 2021-11-30 00:00:00>,
 <User cofff, asaassdd@naver.com, 30, 2021-11-11 00:00:00>]

 Where 절 : filter

In [24]:
# 비교연산자 활용
# filter : == != > < >= <=
results = sess.query(User).filter(User.age == 30)
list(results)

[<User eunchan, pec05@naver.com, 30, None>,
 <User mhso2, mhso@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff, asaassdd@naver.com, 30, 2021-11-11 00:00:00>]

In [25]:
# filter : like
results = sess.query(User).filter(User.email.like("%naver%"))
list(results)

[<User eunchan, pec05@naver.com, 30, None>,
 <User mhso2, mhso@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff, asaassdd@naver.com, 30, 2021-11-11 00:00:00>]

In [26]:
# filter : in_

results = sess.query(User).filter(User.age.in_([30, 33]))
list(results)

[<User eunchan, pec05@naver.com, 30, None>,
 <User mhso2, mhso@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff, asaassdd@naver.com, 30, 2021-11-11 00:00:00>]

In [28]:
# filter : or_
results = sess.query(User).filter(
    or_(User.name == "mino", User.age == 30)
)
list(results)

[<User eunchan, pec05@naver.com, 30, None>,
 <User mhso2, mhso@naver.com, 30, 2021-12-01 00:00:00>,
 <User mino, asaas@daum.net, 22, 2021-11-30 00:00:00>,
 <User cofff, asaassdd@naver.com, 30, 2021-11-11 00:00:00>]

In [30]:
# order by
results = sess.query(User).order_by(User.age.desc())
list(results)

[<User eunchan, pec05@naver.com, 30, None>,
 <User mhso2, mhso@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff, asaassdd@naver.com, 30, 2021-11-11 00:00:00>,
 <User mino, asaas@daum.net, 22, 2021-11-30 00:00:00>]

# 3.Update
업데이트 완료 시 바뀐 데이터의 객체가 리턴 된다.

In [35]:
sess.rollback()

In [38]:
# 1. 객체를 꺼내서
data = sess.query(User).filter(User.name == "mino").one()

In [39]:
# 2.데이터를 수정하고
data.age = 9999

In [40]:
# 3. 다시 업로드
sess.add(data)
sess.commit()

In [41]:
# 여러 개 데이터를 동시에 update
datas = sess.query(User).filter(
    or_(User.name == "mino", User.age == 30)
)
list(datas)

[<User eunchan, pec05@naver.com, 30, None>,
 <User mhso2, mhso@naver.com, 30, 2021-12-01 00:00:00>,
 <User mino, asaas@daum.net, 9999, 2021-11-30 00:00:00>,
 <User cofff, asaassdd@naver.com, 30, 2021-11-11 00:00:00>]

In [43]:
for data in datas:
    data.age = 123123
    sess.add(data)

# 4. delete

In [44]:
sess.query(User).filter(User.age == 123123).delete()

4

In [45]:
sess.commit()