In [15]:
import pymongo

In [16]:
client = pymongo.MongoClient("mongodb://13.209.69.125:27017/")
client

MongoClient(host=['13.209.69.125:27017'], document_class=dict, tz_aware=False, connect=True)

ì§ë°©ìš© ë°ì´í„°ë² ì´ìŠ¤ ë° ì»¬ë ‰ì…˜ ìƒì„±

In [17]:
zigbang = client.crawling.zigbang
zigbang

Collection(Database(MongoClient(host=['13.209.69.125:27017'], document_class=dict, tz_aware=False, connect=True), 'crawling'), 'zigbang')

In [18]:
%%writefile zigbang.py

import geohash2
import requests
import pandas as pd

# í•¨ìˆ˜ë¡œ ë§Œë“¤ê¸°    
def oneroom(addr):
    
    # 1. ë™ì´ë¦„ìœ¼ë¡œ ìœ„ë„ ê²½ë„ êµ¬í•˜ê¸°
    url = "https://apis.zigbang.com/search?q={}".format(addr)
    response = requests.get(url)
    lat, lng = response.json()["items"][0]["lat"], response.json()["items"][0]["lng"]
    
    # 2. ìœ„ë„ ê²½ë„ë¡œ geohash ì•Œì•„ë‚´ê¸°
    geohash = geohash2.encode(lat, lng, precision=5) 
    
    # 3. geohashë¡œ ë§¤ë¬¼ ë¦¬ìŠ¤íŠ¸ ê°€ì ¸ì˜¤ê¸°
    url = "https://apis.zigbang.com/v2/items?\
deposit_gteq=0&domain=zigbang&geohash={}&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸".format(geohash)
    response = requests.get(url)
    items = response.json()["items"]
    ids = [item["item_id"] for item in items]
    
    # 4. idë¡œ ë§¤ë¬¼ ì •ë³´ ê°€ì ¸ì˜¤ê¸°
    url = "https://apis.zigbang.com/v2/items/list"
    params = {
        "domain": "zigbang",
        "withCoalition": "false",
        "item_ids": ids[:900],
    }

    response = requests.post(url, params)
    items = response.json()["items"]
    return [item for item in items if addr in item["address"]]

Overwriting zigbang.py

In [19]:
import zigbang as zb

In [20]:
items = zb.oneroom("ì„±ìˆ˜ë™")
len(items)

6

`[{}, {}, {}, ...]` json í˜•íƒœ
`2.8.1`

In [21]:
zigbang.insert_many(items)
# zigbang.insert(items)

* ë°ì´í„° í”„ë ˆì„ì„ MongoDBì— ì €ì¥

In [22]:
import pandas as pd

df_sungsu = pd.DataFrame(items)
df_sungsu.columns

Index(['section_type', 'item_id', 'images_thumbnail', 'sales_type',
       'sales_title', 'deposit', 'rent', 'size_m2', 'ê³µê¸‰ë©´ì ', 'ì „ìš©ë©´ì ', 'ê³„ì•½ë©´ì ',
       'room_type_title', 'floor', 'floor_string', 'building_floor', 'title',
       'is_first_movein', 'room_type', 'address', 'random_location', 'is_zzim',
       'status', 'service_type', 'tags', 'address1', 'address2', 'address3',
       'manage_cost', 'reg_date', 'is_new', '_id'],
      dtype='object')

In [23]:
column_names = ["item_id", "floor", "title", "deposit", "rent"]
df_sungsu = df_sungsu[column_names]
df_sungsu

    item_id floor                             title  deposit  rent
0  29469829   ë°˜ì§€í•˜                ì„œìš¸ìˆ²ì˜†ì— ìˆëŠ” ë¶„ë¦¬í˜•ì›ë£¸,ë„“ì–´ìš”      500    40
1  29738029   ë°˜ì§€í•˜              ğŸ’– ì„œìš¸ìˆ²ì—­ ì €ë ´ í’€ì˜µì…˜ ì˜¬ìˆ˜ë¦¬ íˆ¬ë£¸     1000    55
2  29744973   ë°˜ì§€í•˜   â™£ ì„œìš¸ìˆ²ê¸¸, í’€ì˜µì…˜2ë£¸ , ê¹¨ë—í•œ ë°˜ì§€í•˜, ë¹ ë¥¸ì…ì£¼ê°€ëŠ¥     5000    30
3  29773115     5    ğŸ’– ì‹ ì¶•í˜• 9í‰ ë¶„ë¦¬í˜• í’€ì˜µì…˜ ì£¼ì°¨ ì—˜ë²   ëšì„¬ì—­ 2ë¶„     2000    80
4  29738894     2  â™£ 3ë£¸, ì£¼ì°¨ê°€ëŠ¥, ì±„ê´‘ì¢‹ìŒ, ëšì„¬ì—­ê³¼ ì„œìš¸ìˆ²ì—­ ì´ìš©ê°€ëŠ¥    10000    50
5  29548099     2     ëšì„¬ì—­,ê·€í•œ íˆ¬ë£¸ì „ì„¸, ê·œëª¨ìˆê²Œ ë„“ì€ ê±°ì‹¤, ëŒ€ì¶œê°€ëŠ¥    13000    50

In [24]:
zigbang = client.crawling.zigbang

In [25]:
# dataframeì„ json dictí™” ì‹œí‚¤ê¸°
insert_items = df_sungsu.to_dict("records")
insert_items

[{'item_id': 29469829,
  'floor': 'ë°˜ì§€í•˜',
  'title': 'ì„œìš¸ìˆ²ì˜†ì— ìˆëŠ” ë¶„ë¦¬í˜•ì›ë£¸,ë„“ì–´ìš”',
  'deposit': 500,
  'rent': 40},
 {'item_id': 29738029,
  'floor': 'ë°˜ì§€í•˜',
  'title': 'ğŸ’– ì„œìš¸ìˆ²ì—­ ì €ë ´ í’€ì˜µì…˜ ì˜¬ìˆ˜ë¦¬ íˆ¬ë£¸',
  'deposit': 1000,
  'rent': 55},
 {'item_id': 29744973,
  'floor': 'ë°˜ì§€í•˜',
  'title': 'â™£ ì„œìš¸ìˆ²ê¸¸, í’€ì˜µì…˜2ë£¸ , ê¹¨ë—í•œ ë°˜ì§€í•˜, ë¹ ë¥¸ì…ì£¼ê°€ëŠ¥',
  'deposit': 5000,
  'rent': 30},
 {'item_id': 29773115,
  'floor': '5',
  'title': 'ğŸ’– ì‹ ì¶•í˜• 9í‰ ë¶„ë¦¬í˜• í’€ì˜µì…˜ ì£¼ì°¨ ì—˜ë²   ëšì„¬ì—­ 2ë¶„',
  'deposit': 2000,
  'rent': 80},
 {'item_id': 29738894,
  'floor': '2',
  'title': 'â™£ 3ë£¸, ì£¼ì°¨ê°€ëŠ¥, ì±„ê´‘ì¢‹ìŒ, ëšì„¬ì—­ê³¼ ì„œìš¸ìˆ²ì—­ ì´ìš©ê°€ëŠ¥',
  'deposit': 10000,
  'rent': 50},
 {'item_id': 29548099,
  'floor': '2',
  'title': 'ëšì„¬ì—­,ê·€í•œ íˆ¬ë£¸ì „ì„¸, ê·œëª¨ìˆê²Œ ë„“ì€ ê±°ì‹¤, ëŒ€ì¶œê°€ëŠ¥',
  'deposit': 13000,
  'rent': 50}]

In [26]:
zigbang2.insert_many(insert_items)

ë°ì´í„° ì¡°íšŒí•˜ê¸° - find()

In [27]:
results = zigbang.find()
pd.DataFrame(results)

,_id,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,...,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
0,61b6a1dc969551ecf4c680b5,None,29469829,https://ic.zigbang.com/ic/items/29469829/1.jpg,ì›”ì„¸,ì›”ì„¸,500,40,23.14,"{'m2': 23.14, 'p': '7'}",...,False,True,ì›ë£¸,[ì¶”ì²œ],ì„œìš¸ì‹œ ì„±ë™êµ¬ ì„±ìˆ˜ë™1ê°€,None,None,0,2021-11-30T13:20:51+09:00,False
1,61b6a1dc969551ecf4c680b6,None,29738029,https://ic.zigbang.com/ic/items/29738029/1.jpg,ì›”ì„¸,ì›”ì„¸,1000,55,33.06,"{'m2': 33.06, 'p': '10'}",...,False,True,ë¹Œë¼,[ì¶”ì²œ],ì„œìš¸ì‹œ ì„±ë™êµ¬ ì„±ìˆ˜ë™1ê°€,None,None,0,2021-12-11T17:44:24+09:00,True
2,61b6a1dc969551ecf4c680b7,None,29744973,https://ic.zigbang.com/ic/items/29744973/1.jpg,ì›”ì„¸,ì›”ì„¸,5000,30,36.36,"{'m2': 36.36, 'p': '11'}",...,False,True,ë¹Œë¼,[],ì„œìš¸ì‹œ ì„±ë™êµ¬ ì„±ìˆ˜ë™1ê°€,None,None,0,2021-12-09T13:15:15+09:00,False
3,61b6a1dc969551ecf4c680b8,None,29773115,https://ic.zigbang.com/ic/items/29773115/1.jpg,ì›”ì„¸,ì›”ì„¸,2000,80,29.75,"{'m2': 29.75, 'p': '9'}",...,False,True,ì›ë£¸,[],ì„œìš¸ì‹œ ì„±ë™êµ¬ ì„±ìˆ˜ë™1ê°€,None,None,7,2021-12-11T13:48:58+09:00,True
4,61b6a1dc969551ecf4c680b9,None,29738894,https://ic.zigbang.com/ic/items/29738894/1.jpg,ì›”ì„¸,ì›”ì„¸,10000,50,72.79,"{'m2': 72.79, 'p': '22'}",...,False,True,ë¹Œë¼,[],ì„œìš¸ì‹œ ì„±ë™êµ¬ ì„±ìˆ˜ë™1ê°€,None,None,0,2021-12-08T21:10:45+09:00,False
5,61b6a1dc969551ecf4c680ba,None,29548099,https://ic.zigbang.com/ic/items/29548099/1.jpg,ì›”ì„¸,ì›”ì„¸,13000,50,52.89,"{'m2': 52.89, 'p': '16'}",...,False,True,ë¹Œë¼,[ì¶”ì²œ],ì„œìš¸ì‹œ ì„±ë™êµ¬ ì„±ìˆ˜ë™1ê°€,None,None,0,2021-11-24T11:19:12+09:00,False

In [28]:
QUERY = { "deposit" : {"$gte" : 13000}}
results = zigbang.find(QUERY)
pd.DataFrame(results)

,_id,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,...,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
0,61b6a1dc969551ecf4c680ba,None,29548099,https://ic.zigbang.com/ic/items/29548099/1.jpg,ì›”ì„¸,ì›”ì„¸,13000,50,52.89,"{'m2': 52.89, 'p': '16'}",...,False,True,ë¹Œë¼,[ì¶”ì²œ],ì„œìš¸ì‹œ ì„±ë™êµ¬ ì„±ìˆ˜ë™1ê°€,None,None,0,2021-11-24T11:19:12+09:00,False