In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/korean-idol.csv")
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

apply
Series, DataFrame에 구체적이고 복잡한 로직에 의해 데이터를 편집하고 싶을 때 사용
    단순 집계 뿐만이 아닌 각 데이터에 프로그래밍적인 효과
        데이터에 대한 여러 조건 검사
        형태소 분리
        복잡한 조건에 의한 데이터 편집 등
    apply(함수)
        apply 안에 들어가는 함수는 데이터 편집 후 반드시 리턴

In [3]:
df2 = df.copy()

man_mask = df2["성별"] == "남자"
woman_mask = df2["성별"] == "여자"

df2.loc[man_mask, "성별"] = 1
df2.loc[woman_mask, "성별"] = 0

df2.head()

     이름     그룹  소속사 성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  1  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  1  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  1  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  1  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  0  1995-07-23  162.1   A   7650928

In [5]:
df["성별_new"] = df["성별"].apply(lambda x : 1 if x == "남자" else 0)
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_new
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260       1
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947       1
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745       1
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501       1
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928       0

In [6]:
df["키/2"] = df["키"].apply(lambda x : x / 2)
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_new    키/2
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260       1  86.80
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947       1  88.50
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745       1  90.00
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501       1  89.00
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928       0  81.05