In [1]:
import pandas as pd

In [2]:
df_idol = pd.read_csv("./data/korean-idol.csv")

# 피벗 테이블 (pivot table)
* 데이터 프레임의 데이터를 인덱스로 사용하기 위한 테이블
 * 기준을 데이터로 잡고 집계
* 항목(카테고리) 데이터를 컬럼이나 행의 인덱스로 만들기 위함
* 왼쪽에 나타나는 인덱스를 행 인덱스, 상단에 나타나는 인덱스를 열 인덱스(컬럼 이름)

In [11]:
pd.pivot_table(
    df_idol, # pivot table을 만들 데이터 프레임
    index = "소속사", # 행 인덱스 설정,
    columns = "혈액형" # 열 인덱스 설정
)

           브랜드평판지수                                       키                \
혈액형              A         AB          B          O      A     AB      B
소속사
RBW      7650928.0        NaN        NaN        NaN  162.1    NaN    NaN
SM       3918661.0        NaN        NaN        NaN    NaN    NaN    NaN
YG       9916947.0        NaN        NaN        NaN  177.0    NaN    NaN
빅히트      7865797.5  8073501.0        NaN  3747875.0  175.8  178.0    NaN
스타크루이엔티  4036489.0        NaN        NaN        NaN  167.1    NaN    NaN
커넥트      8273745.0        NaN        NaN        NaN  180.0    NaN    NaN
큐브             NaN        NaN  4668615.0        NaN    NaN    NaN    NaN
판타지오           NaN        NaN  3506027.0        NaN    NaN    NaN  183.0
플레디스           NaN  3301654.0        NaN  4131964.5    NaN  175.0    NaN


혈액형           O
소속사
RBW         NaN
SM          NaN
YG          NaN
빅히트      176.60
스타크루이엔티     NaN
커넥트         NaN
큐브          NaN
판타지오        NaN
플레디스     179.15

In [15]:
pd.pivot_table(
    df_idol,
    index = "그룹",
    columns = "혈액형",
    values = "키" # 집계 대상 컬럼
)

혈액형        A     AB      B       O
그룹
뉴이스트     NaN  175.0    NaN  179.15
마마무    162.1    NaN    NaN     NaN
방탄소년단  175.8  178.0    NaN  176.60
빅뱅     177.0    NaN    NaN     NaN
아스트로     NaN    NaN  183.0     NaN
핫샷     167.1    NaN    NaN     NaN

In [16]:
import numpy as np

In [18]:
pd.pivot_table(
    df_idol,
    index="혈액형",
    columns="그룹",
    values="브랜드평판지수",
    aggfunc=[np.sum, np.mean]

)

           sum                                                          \
그룹        뉴이스트        마마무       방탄소년단         빅뱅       소녀시대       아스트로
혈액형
A          NaN  7650928.0  15731595.0  9916947.0  3918661.0        NaN
AB   3301654.0        NaN   8073501.0        NaN        NaN        NaN
B          NaN        NaN         NaN        NaN        NaN  3506027.0
O    8263929.0        NaN   7495750.0        NaN        NaN        NaN

                                mean                                   \
그룹         아이들         핫샷       뉴이스트        마마무      방탄소년단         빅뱅
혈액형
A          NaN  4036489.0        NaN  7650928.0  7865797.5  9916947.0
AB         NaN        NaN  3301654.0        NaN  8073501.0        NaN
B    4668615.0        NaN        NaN        NaN        NaN        NaN
O          NaN        NaN  4131964.5        NaN  3747875.0        NaN


그룹        소녀시대       아스트로        아이들         핫샷
혈액형
A    3918661.0        NaN        NaN  4036489.0
AB         NaN        NaN        NaN        NaN
B          NaN  3506027.0  4668615.0        NaN
O          NaN        NaN        NaN        NaN

In [20]:
df_idol.groupby("소속사") # 이 상태에서 필요한 집계를 수행

In [21]:
df_idol.groupby("소속사").count()

         이름  그룹  성별  생년월일  키  혈액형  브랜드평판지수
소속사
RBW       1   1   1     1  1    1        1
SM        1   1   1     1  0    1        1
YG        1   1   1     1  1    1        1
빅히트       5   5   5     5  5    5        5
스타크루이엔티   1   1   1     1  1    1        1
커넥트       1   0   1     1  1    1        1
큐브        1   1   1     1  0    1        1
판타지오      1   1   1     1  1    1        1
플레디스      3   3   3     3  3    3        3

In [24]:
# count를 제외한 집계 함수는 숫자 형식의 데이터에만 적용 가능
df_idol.groupby("그룹").mean()

                키       브랜드평판지수
그룹
뉴이스트   177.766667  3.855194e+06
마마무    162.100000  7.650928e+06
방탄소년단  176.560000  6.260169e+06
빅뱅     177.000000  9.916947e+06
소녀시대          NaN  3.918661e+06
아스트로   183.000000  3.506027e+06
아이들           NaN  4.668615e+06
핫샷     167.100000  4.036489e+06

In [25]:
# 혈액형별 키의 평균
df_idol.groupby("혈액형")["키"].mean()

혈액형
A     172.966667
AB    176.500000
B     183.000000
O     177.875000
Name: 키, dtype: float64